<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Alt Z - for line format -->
    <!-- ctrl / - comment -->
    <link rel="stylesheet" href="/css/studentdashboard.css">
</head>

<body>
    <% data.forEach(function(val){ %>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand ms-5" href="#">NUB DIGITAL CLASSROOM</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 me-5">
                    <li class="nav-item">
                        <a class="btn btn-dark btn-sm mt-2" href="/createroom"><i class="fa-solid fa-plus me-1"></i>Create
                            Class</a>
                    </li>

                    <li class="nav-item pro-pic">
                        <% if(val.profile){ %>
                            <img id="img-btn" class="profile-pic" src="/uploads/<%= val.profile %>" alt="avatar">
                        <% }else{ %>
                            <img id="img-btn" class="profile-pic" src="/img/avatar.png" alt="avatar">
                        <% } %>

                        <form action="/uptimg/<%= val.teacher_id %>" method="post" enctype="multipart/form-data">

                            <div class="up-card text-center">
                                <% if(val.profile){ %>
                                    <img id="up-btn" src="/uploads/<%= val.profile %>" alt="" width="100">
                                <% }else{ %>
                                    <img id="up-btn" src="/img/up.png" alt="" width="100">
                                <% } %>
                                <br>
                                <input id="up-btn-hide" type="file" name="profile" hidden onchange="document.getElementById('up-btn').src = window.URL.createObjectURL(this.files[0])">
                                <button type="submit" class="btn btn-dark btn-sm mt-3">Upload</button>
                            </div>

                        </form>
                        
                    </li>

                    <li class="nav-item dropdown me-5">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <%= val.name %>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li><a class="dropdown-item" href="#">Setting</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/logoutT">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    


    <div class="classes mt-5">

        <div class="row gy-5">

            <% let x=0; %>
            <% let classes=0; %>

            <% rdata.forEach(function(rval){  %>
                
               <% x=(x+1)%5; %>

            <div class="col-md-3">
                <div class="class-box t-box">
                    <div class="card-head card-head-<%= x %>">
                        <p class="fs-5 text-light mb-0 fw-bold"><%= rval.course_title %></p>
                        <p class="fs-6 text-light mt-0"><%= rval.course_code %></p>
                    </div>
                    <div class="img-teacher text-end">
                        <% if(val.profile){ %>
                            <img class="teacher-pic me-4" src="/uploads/<%= val.profile %>" alt="" >
                        <% }else{ %>
                            <img class="teacher-pic me-4" src="/img/avatar.png" alt="">
                        <% } %>
                    </div>
                    <div class="cards-body p-3">
                        <p class="text-muted class-time">Time: <%= rval.class_start_time %> - <%= rval.class_end_time %></p>

                        <div class="btns d-flex justify-content-between">
                            <a href="#" class="btn code-btn mt-4 btn-outline-dark" data-bs-toggle="modal"
                                data-bs-target="#exampleModal<%= classes %>"><i class="fa-solid fa-users-between-lines"></i></a>
                            
                                <div class="mb-0 mt-4">
                                    <a href="/tpost/<%= rval.room_no %>/<%= rval.teacher_id %>" class="btn btn-secondary text-light btn-sm">Go to Room</a>
                                </div>
                            
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal<%= classes %>" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Room Number</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <h2 class="text-muted text-center"><%= rval.room_no %></h2>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="/tdash" class="btn btn-primary">Copy</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <% classes++; %>
                    </div>

                </div>
            </div>

            <% }) %>






        </div>

    </div>


    <% }) %>



    <script>
        let img_box = document.getElementsByClassName("up-card")[0];
        let img_btn = document.getElementById("img-btn");
        let hidden_btn = document.getElementById("up-btn-hide");
        let up_btn = document.getElementById("up-btn");

        let img_div = document.getElementById("img-div");

        up_btn.addEventListener('click',()=>{
            hidden_btn.click();
        });


        let img_box_visibility=0;

        img_btn.addEventListener('click',()=>{
            if(img_box_visibility==0)
            {
                img_box.style.display = "block";
                img_box_visibility=1;
            }else{
                img_box.style.display = "none"
                img_box_visibility=0;
            }
        });
    </script>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>