<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/studentdashboard.css">
    <link rel="stylesheet" href="/css/teacherpost.css">
</head>

<body>







    <div class="posts mt-5">

        <div class="room_info_box">
            <div class="room_header">
                <% rdata.forEach(function(val){ %>

                    <p class="display-6 fs-4">
                        <%= val.course_title %>
                    </p>
                    <p class="display-6 fs-5">
                        <%= val.course_code %>
                    </p>

                    <% }) %>

                        <% tdata.forEach(function(val){ %>




                            <p class="display-6 fs-3 fw-bold">
                                <%= val.name %>
                            </p>
            </div>
            <div class="image-section d-flex justify-content-end me-5">
                <div class="timg">
                    <% if(val.profile){ %>
                        <img src="/uploads/<%= val.profile %>" alt="" width="150">
                        <% }else{ %>
                            <img src="/img/R.jpg" alt="" width="150">
                            <% } %>
                </div>
            </div>

            <% }) %>



                <% rdata.forEach(function(val){ %>



                    <div class="info-section px-4">
                        <p class="display-6 fs-5 text-muted">Time: <%= val.class_start_time %>-<%= val.class_end_time %>
                        </p>
                    </div>

        </div>


        <% }) %>


        <% pdata.forEach(function(pval){ %>

       

            <div class="create-post posted">
                <a href="/sdash" class="btn btn-danger btn-sm"><i class="fa-solid fa-house"></i></a>

                <% tdata.forEach(function(val){ %>

                    

                <h5><%= val.name %></h5>

                <% }) %>

                
                <p><%= pval.post_time %></p>

                <hr class="hr1">

                <p><%= pval.post_content %></p>




                <hr class="hr1 mt-5 mb-4">


                <form action="/stsendcomment" id="comments" class="d-flex" method="post">

                    <input type="text" id="post_id" name="post_id" value="<%= pval.post_id %>" hidden>
                    <input type="text" id="teacher_id" name="teacher_id" value="<%= pval.teacher_id %>" hidden>
                    <input type="text" id="room_no" name="room_no" value="<%= pval.room_no %>" hidden>

                    <% sdata.forEach(function(sval){ %>

                    <input type="text" id="cname" name="cname" value="<%= sval.name %>" hidden>
                    <input type="text" id="student_id" name="student_id" value="<%= sval.id %>" hidden>

                    <% }) %>

                    <input type="text" name="comment" id="comment" placeholder="Write your comment here...">
                    <div class="btns">

                        <button type="submit" class="cmt-btn ms-2">Comment</button>

                    </div>



                </form>

                <details class="mt-3 px-4">
                    <summary>View Comments</summary>
                    <% cdata.forEach(function(val){ %>

                        <% if(pval.post_id==val.post_id){ %>

                        <div class="cmnt d-flex justify-content-end">
                            <div class="cmnts">
                                <h6><%= val.cname %></h6>
                                <p><%= val.comment %></p>
                                <p><%= val.time %></p>
                            </div>
                        </div>

                        <% } %>

                    <% }) %>
                    
                   

                </details>

                

                

                
                  

            </div>


           

            <% }) %>






    </div>



    <script>
        let img_box = document.getElementsByClassName("up-card")[0];
        let img_btn = document.getElementById("img-btn");
        let hidden_btn = document.getElementById("up-btn-hide");
        let up_btn = document.getElementById("up-btn");

        let img_div = document.getElementById("img-div");

        up_btn.addEventListener('click', () => {
            hidden_btn.click();
        });


        let img_box_visibility = 0;

        img_btn.addEventListener('click', () => {
            if (img_box_visibility == 0) {
                img_box.style.display = "block";
                img_box_visibility = 1;
            } else {
                img_box.style.display = "none"
                img_box_visibility = 0;
            }
        });
    </script>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>